.navbar-brand {
  font-family: "Oswald", sans-serif; }

.navbar-default .navbar-brand {
  color: #ffffff; }
  .navbar-default .navbar-brand:hover {
    color: #d6d6d6; }
.navbar-default .navbar-nav > li > a {
  color: #ffffff; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #d6d6d6; }

.navbar {
  background-color: #0e2e41; }

.jumbotron {
  background-color: #ffffff; }

.box {
  background: #fff;
  border-radius: _size(border-radius);
  box-shadow: 0 2px 0 0 _palette(border);
  margin: 0 0 _size(element-margin) 0;
  padding: 3em; }
  .box > :last-child {
    margin-bottom: 0; }
  .box.alt {
    background: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    margin: 0 0 _size(element-margin) 0;
    padding: 0 !important; }
  .box.features .features-row {
    border-top: solid 2px _palette(border);
    position: relative; }
    .box.features .features-row:after {
      clear: both;
      content: '';
      display: block; }
    .box.features .features-row section {
      float: left;
      padding: 3em;
      width: 50%; }
      .box.features .features-row section :last-child {
        margin-bottom: 0; }
      .box.features .features-row section:nth-child(2n) {
        padding-right: 0; }
        .box.features .features-row section:nth-child(2n):before {
          background: _palette(border);
          content: '';
          display: block;
          height: 100%;
          margin-left: -3em;
          position: absolute;
          top: 0;
          width: 2px; }
      .box.features .features-row section:nth-child(2n-1) {
        padding-left: 0; }
    .box.features .features-row:first-child {
      border-top: 0; }
      .box.features .features-row:first-child section {
        padding-top: 0; }
    .box.features .features-row:last-child {
      padding-bottom: 0; }
      .box.features .features-row:last-child section {
        padding-bottom: 0; }
  .box.special {
    text-align: center; }
  .box .image.featured {
    border-radius: 0;
    display: block;
    margin: 3em 0 3em -3em;
    position: relative;
    width: calc(100% + 6em); }
    .box .image.featured img {
      border-radius: 0;
      display: block;
      width: 100%; }
    .box .image.featured:first-child {
      border-radius: _size(border-radius) _size(border-radius) 0 0;
      margin-bottom: 3em;
      margin-top: -3em; }
      .box .image.featured:first-child img {
        border-radius: _size(border-radius) _size(border-radius) 0 0; }
    .box .image.featured:last-child {
      border-radius: 0 0 _size(border-radius) _size(border-radius);
      margin-bottom: -3em;
      margin-top: 3em; }
      .box .image.featured:last-child img {
        border-radius: 0 0 _size(border-radius) _size(border-radius); }

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative; }
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  .icon > .label {
    display: none; }
  .icon.major {
    background: _palette(accent1, bg);
    border-radius: 100%;
    color: _palette(accent1, fg-bold);
    cursor: default;
    display: inline-block;
    height: 5.5em;
    line-height: 5.5em;
    margin: 0 0 _size(element-margin) 0;
    width: 5.5em; }
    .icon.major:before {
      font-size: 2.5em; }
    .icon.major.accent2 {
      background: #bcbcbc;
      color: #ffffff; }
    .icon.major.accent3 {
      background: #008eb0;
      color: #ffffff; }
    .icon.major.accent4 {
      background: #0e2e41;
      color: #ffffff; }
    .icon.major.accent5 {
      background: #2E2E30;
      color: #ffffff; }

body {
  color: #2E2E30;
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 70px; }

section {
  background-color: #ffffff;
  padding-bottom: 50px;
  padding-top: 50px; }

section > h1 {
  padding-bottom: 25px; }

h1 {
  font-family: "Oswald", sans-serif; }

a {
  color: #008eb0; }
  a:hover {
    color: #0e2e41;
    text-decoration: none; }

/*# sourceMappingURL=styles.css.map */
