<div class="jumbotron">
  <div class="container">
    <div class="media-left media-middle">
      <a href="/">
        <img src="/img/logo.png">
      </a>
    </div>
    <div class="media-body">
      <h1 class="project-name">{{ site.title }}</h1>
      <h2 class="project-tagline">{{ site.tagline }}</h2>
      <!--<a href="#" class="btn">View on GitHub</a>-->
      <!--<a href="#" class="btn">Download .zip</a>-->
      <!--<a href="#" class="btn">Download .tar.gz</a>-->
    </div>
  </div>
</div>
