.navbar-brand {
  font-family: $oswald;
}

.navbar-default {
  & .navbar-brand {
  color: $white;

    &:hover {
      color: $lightestgrey;
    }
  }

  & .navbar-nav > li > a {
    color: $white;

    &:hover {
      color: $lightestgrey;
    }
  }
}

.navbar {
  background-color: $navy;
}
