.jumbotron {
  align-items: center;
  background-color: $white;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;

  & h2 {
    font-size: rem-calc(40px);
  }

  .logo-image {
    max-width: rem-calc(200px);
  }

  .media-body {
    max-width: 640px;
    padding-left: rem-calc(20px);

  }
}
