
// Fonts
$oswald: 'Oswald', sans-serif;
$sourcesans: 'Source Sans Pro', sans-serif;

// Colors
$darkgrey: #2E2E30;
$gold: #febd3b;
$grey: #4c4c4e;
$lightgrey: #bcbcbc;
$lightestgrey: #d6d6d6;
$navy: #0e2e41;
$teal: #008eb0;
$white: #ffffff;
