@import '_variables';
@import '_function';
@import '_navbar';
@import '_page-header';
@import '_box-grid';
@import '_icons';
@import '_button';

body {
  color: $darkgrey;
  font-family: $sourcesans;
  padding-top: rem-calc(70px);
}

section {
  background-color: #ffffff;
  padding-bottom: rem-calc(50px);
  padding-top: rem-calc(50px);
}

section > h1 {
  margin-top: rem-calc(50px);
  padding-bottom: rem-calc(25px);
}

h1 {
  font-family: $oswald;
}

a {
  color: $teal;

  &:hover {
    color: $navy;
    text-decoration: none;
  }
}

.container {
  margin: 0 auto;
}
